@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .footerTitle {
    @apply font-bold text-blue-900 mb-4 text-lg;
  }

  .footerList li {
    @apply text-gray-600 text-sm mb-2 hover:text-blue-700 cursor-pointer transition;
  }
}
